body{
  font-family: 'News Cycle', sans-serif;
}

#fondo
{
    min-height: 200px;
	background:url('ropa_imagen2.png')no-repeat -0px -0px;
	text-align: right;
	color: #ffffff;
}
#fondo hgroup img
{
    margin-top: 20px;
}
#fondo h1
{
    text-align: center;
    margin-top: 0px;
    /*margin-left: 400px;*/
	font-size: 50px;
	margin-bottom: 5px;
}
#fondo p
{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
  /* styles for navigation */
  #nav {
    margin-top: 5px;
    background-color: #bb4e23;
    /*#500c10*/
  }
  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #nav ul li {
    font-weight: normal;
    text-transform: uppercase;
    float: left;
  }
  #nav ul a:link {
      color: #fff;
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  #nav ul a:visited {
    color:white;
  }
  #nav ul a:focus {
    color:rgb(56, 9, 9);
  }
  #nav ul a:hover {
    color: #bb4e23;
  }
  #nav ul a:active {
    color:rgb(56, 9, 9);
  }
  #nav li a:hover, .inicio {/* Change the link color to #111 (black) on hover */ 
    background-color: white;/*#111;*/
    
  }

  #tiendas h2
  {
      text-align: center;
  }
  #tiendas th ,td
  {
      padding: 5px 30px;
  }
  
#footer
{
	text-align: left;
	padding: 20px;
	margin-top: 20px;
	color: #FFFFFF;
	background-color:rgb(187,78, 35, 0.85);
	padding:30px 0 20px;
  	font-size:15px;
  	line-height:24px;
}
#footer p
{
    text-align: center;
    padding: 5px 30px;
}
#footer th
{
    text-align: center;
    font-size: 20px;
}
#footer td
{
    text-align: center;
}
#footer a
{
  text-decoration: none;
	color: #FFFFFF
}

#titulo
{
    text-align: center;
    color: #bb4e23;  
}

#aviso
{
  text-align: center;
}

#titulos
{
    padding: 3px;
    padding-left: 20px;
    text-decoration: underline;
    text-decoration-color:#bb4e23;
    padding: 7px;
}

#secciones
{
  text-decoration: underline;
  text-decoration-color:#bb4e23;
  padding: 3px;
  padding-left: 20px;
  font-family:'News Cycle', sans-serif;
}

#condiciones h2{
  text-align: center;
  color: #bb4e23; 
}
#contacto{
  text-align: center;
}
#contacto h1{
 
text-decoration: underline;
text-decoration-color: #bb4e23;
padding: 3px;
padding-left: 20px;

}

#contacto h3, h4{
 
text-decoration: underline;
text-decoration-color: #bb4e23;
padding: 3px;
padding-left: 20px;
font-family:'News Cycle', sans-serif;

}

#contacto b{
color: #6d0404ec
}

#contacto .texto{
background-color : rgba(187,	78,35, 25%);
border-color: rgb(56, 9, 9);
font-weight: bold;
font-family:'News Cycle', sans-serif;
}
#gracias a:link {
color: #bb4e23;
}
#gracias a:visited {
color:maroon;
}
#gracias a:focus {
color:rgb(56, 9, 9);
}
#gracias a:hover {
color: #bb4e23;
}
#gracias a:active {
color:rgb(56, 9, 9);
}

#gracias{
  text-align: center;
}

#gracias h1{
text-decoration: underline;
text-decoration-color: #bb4e23;
padding: 3px;
padding-left: 20px;
}
#verificadorCorreo
{
  text-align: center;
}