body{
    font-family: 'News Cycle', sans-serif;
  }

#fondo
{
    min-height: 200px;
	background:url('ropa_imagen2.png')no-repeat -0px -0px;|
	text-align: right;
	color: #ffffff;
}
#fondo hgroup img
{
    margin-top: 20px;
}
#fondo h1
{
    text-align: center;
    margin-top: 0px;
    /*margin-left: 400px;*/
	font-size: 50px;
	margin-bottom: 5px;
}
#fondo p
{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
  /* styles for navigation */
  #nav {
    margin-top: 5px;
    background-color: #bb4e23;
    /*#500c10*/
  }
  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #nav ul li {
    font-weight: normal;
    text-transform: uppercase;
    float: left;
  }
  #nav ul a:link {
      color: #fff;
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
 
  #nav ul a:visited {
    color:white;
  }
  #nav ul a:focus {
    color:rgb(56, 9, 9);
  }
  #nav ul a:hover {
    color: #bb4e23;
  }
  #nav ul a:active {
    color:rgb(56, 9, 9);
  }
  #nav li a:hover {/* Change the link color to #111 (black) on hover */
    background-color: white;/*#111;*/
  }

  #tiendas h2
  {
      text-align: center;
  }
  #tiendas th ,td
  {
      padding: 5px 30px;
  }
  
#footer
{
	text-align: left;
	padding: 20px;
	margin-top: 20px;
	color: #FFFFFF;
	background-color:rgb(187,78, 35, 0.85);
	padding:30px 0 20px;
  	font-size:15px;
  	line-height:24px;
}
#footer p
{
    text-align: center;
    padding: 5px 30px;
}
#footer th
{
    text-align: center;
    font-size: 20px;
}
#footer td
{
    text-align: center;
}
#footer a
{
    text-decoration: none;
	color: #FFFFFF
}

#contenido .Modelos
{
    display: flex;
    justify-content: center;
    padding: 6px;
    border-style: double;
    border-color: rgba(17, 2, 53, 0.514);
}

#contenido article{
    margin: 20px;
}

#contenido article p 
{
  font-size: medium;
  font-variant: small-caps;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contenido article button
{
  padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color:#bb4e23;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

#contenido h2{
    font-family: Sans-serif;
    letter-spacing: 4px;
    font-variant: small-caps;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:#bb4e23;
}

section p,h3{
    text-align: center;
}

#contenido a
{
    text-decoration: underline;
    text-decoration-color:#bb4e23;
    color: #bb4e23;
}

.price
{
    text-align: center;
    font-weight: bold;
}

.overlay
{
  background: rgba(0,0,0,.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.overlay.active
{
  visibility: visible;
}

.popup
{
  background: #f8f8f8;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  width: 600px;

  transition: .8s ease all;
  opacity: 0;
  

}

.popup .btn-cerrar-popup
{
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  color: #bb4e23;
  transition: .3s ease all;

}
.popup.active
{
  opacity: 1;
}